# sensitive data
data/raw/whatsapp_exports/*.txt
src/extraction/*.txt

# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Config
config/*.json