# sensitive data
data/raw/
data/processed/
data/outputs/
config/*.txt

# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
.venv/

# Not yet ready
extract_bible_refs.py

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# params
notebooks/offload/