# Core ML & Deep Learning
torch==2.10.0+cu130
accelerate==1.12.0
transformers==5.1.0
bitsandbytes==0.49.1

# Evaluation & Training
evaluate==0.4.6
seqeval==1.2.2

# Data Science & Numerics
numpy==2.4.2
pandas==2.3.3
scikit-learn==1.8.0

# NLP
gensim==4.4.0
RapidFuzz==3.14.3
python-crfsuite==0.9.12
sklearn-crfsuite==0.5.0
emoji==2.15.0

# Visualization
matplotlib==3.10.8
seaborn==0.13.2

# Web App
streamlit==1.57.0

# Database
SQLAlchemy==2.0.48

# Utilities
python-dotenv==1.2.2

# Testing
pytest==9.0.2